page-home {

}
page-home .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
    background-image: url(../assets/img/chart.jpg);
   
}